<library path="littlebot_rqt_plugin">
  <class name="littlebot_rqt_plugin/LittlebotRqtPlugin" type="littlebot_rqt_plugin::LittlebotRqtPlugin" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A gui to viewr datas from littlebot robot
    </description>
    <qtgui>
      <group>
        <label>Inspection</label>
        <statustip>Inspect the robot</statustip>
        <icon type="theme">folder</icon>      
      </group>
      <label>Littlebot GUI</label>
      <icon type="theme">system-help</icon>
      <statustip>Gui to control littlebot robot.</statustip>
    </qtgui>
  </class>
</library>